@import url("./components/menus.css");
@import url("./components/header.css");

.top-tables {
  display: flex;
  margin: 20px 5vw;
  flex-wrap: wrap;
  flex-grow: 1;
}

.table {
  width: 450px;
  height: 650px;
  box-sizing: content-box;
  margin: 10px;
}

.table-header {
  background-color: var(--cor-primary);
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 2px 5px #222;
}

.table-content {
  background-color: var(--cor-dark);
  width: 100%;
  height: 90%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 2px 5px #222;
}

.section {
  margin: 20px 0px;
}

.sub-title-box {
  display: flex;
  align-items: center;
  height: 75px;
  position: relative;
  margin: 20px 0px;
}

.sub-title-box h2 {
  z-index: 2;
  position: absolute;
  font-size: 40px;
  left: 5%;
}

.sub-title-box::after {
  position: absolute;
  transform: skewX(-15deg);
  content: "";
  left: -10px;
  background-color: var(--cor-primary);
  width: 60%;
  height: 100%;
  z-index: 1;
  justify-self: center;
  transition: 0.2s;
  box-shadow: 0px 5px 5px #222;
}
