@media (max-width: 600px) {
  .header {
    justify-content: space-between;
  }
  .nav {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .menu {
    -x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .menu:focus {
    scroll-snap-type: none;
  }
}
