@media (max-width: 600px) {
  .header {
    justify-content: space-between;
  }
  .nav {
    display: none;
  }
  .table {
    height: 510px;
  }
  .mobile {
    display: flex;
  }
  .menu {
    max-width: 100%;
    max-height: calc(100% - 10vh);
    overflow: scroll;
  }
}
