.header {
  background-color: var(--cor-primary);
  position: fixed;
  height: 10vh;
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px #222;
  justify-content: start;
}

.header div {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  border-radius: 100%;
  width: 60;
  height: 60;
}

.nav {
  display: flex;
  height: 100%;
  margin-left: 38%;
}

.button-header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 12px;

  cursor: pointer;
  position: relative;
  justify-content: center;
  margin: 0px -1px;
}

.button-header::after {
  position: absolute;
  transform: skewX(-15deg);
  content: "";
  background-color: var(--cor-text);
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-self: center;
  transition: 0.2s;
}

.button-header:hover::after {
  background-color: #aeaeae;
  box-shadow: 0px 0px 5px #6e6e6e;
  z-index: 2;
}

.button-header a {
  z-index: 3;
  transform: none;
  user-select: none;
  color: var(--cor-secondary);
}
